{% extends 'core/base.html' %}

{% block content %}
<div class="card">
    <h1>Projects</h1>
    <a href="{% url 'projects:submit-project' %}">Submit New Proposal</a>
    <ul>
        {% for project in projects %}
            <li>
                {{ project.title }} - {{ project.status }}
                <a href="{% url 'projects:submit-document' project.id %}">Submit Doc</a>
                <a href="{% url 'projects:approve-project' project.id %}">Approve</a>
            </li>
        {% empty %}
            <li>No projects available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}